[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
soundfile = "*"
pydub = "*"
pip = "*"
install = "*"
openai = "*"
whisper-cpp-python = "*"
openai-whisper = "*"
whisper = "*"
simple-diarizer = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
